.navbar {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: sc;
    background-image: url('../../assets/blue-thin.avif');
    background-size: cover;
    background-position: center;
}

.navbar-logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    font-family: 'Arial', sans-serif;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
}

.nav-links li {
    font-size: 1.2rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffdf00;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.hamburger {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.nav-links.open {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 93px;
    right: 0px;
    background-color: #4689fe;
    width: 200px;
    padding: 15px;
    z-index: 100;
}

.nav-links.open li {
    margin: 10px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links.open {
        display: flex;
    }
}

.logo-image {
    width: 125px;
    height: 50px;
}