.match-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.match-card {
    background-color: #f0f0f0;
    border: 2px solid lightgrey;
    border-radius: 12px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.match-card:hover {
    transform: scale(1.05);
}

.match-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #024aec !important;
}

.teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.team {
    font-size: 1.3rem;
    font-weight: bold;
}

.score {
    font-size: 1.6rem;
    font-weight: bold;

    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.match-meta {
    font-size: 1rem;
    color: #555;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.winner {
    font-weight: bold;
    color: #27ae60;
}

.draw {
    font-weight: bold;
    color: #e67e22;
}

.date {
    font-style: italic;
}

.qualified-teams {
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.qualified-teams h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #024aec !important;
    text-transform: uppercase;
}

.qualified-teams ul {
    list-style-type: none;
    padding: 0;
}

.qualified-teams li {
    font-size: 1.3rem;
    padding: 10px;
    background-color: #123dd9;
    color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .match-card {
        width: 100%;
        max-width: 400px;
    }
}

.team-left,
.team-right {
    color: white;
}

.width-33 {
    width: 33.33%;
}

.flex-right {
    justify-content: flex-end;
    display: flex;
}

.flex-left {
    justify-content: flex-start;
    display: flex;
}