.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    background-image: url("../../assets/footer-flags2.avif");
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin: 0;
    font-size: 14px;
    width: 60%;

}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}