.group-stage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    background-color: #0138dc;
    background-image: url('../../assets/uefa-euro-2024-takeover-bg.webp');
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 160px;
    padding-bottom: 220px;

}

/* .group-footer {
    background-image: url('../../assets/footer-flags.webp');
    background-size: cover;
    height: 150px;
    background-size: contain;
} */

.group {
    display: flex;
    flex-direction: column;
    background-color: #0138dc;

    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 1px solid white;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* .group:hover {
    transform: scale(1.03);
}

.group-header:hover {
    transform: scale(1.03);
} */

.group h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #27ae60;
}

.group ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

.group li {
    padding: 5px 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    padding-left: 5px;
}

.group button {
    background-color: transparent;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* margin-top: 10px; */
    width: 100%;
}

.group button:hover {
    /* background-color: #f39c12; */
    transform: scale(1.00);
}

.group button:active {
    /* transform: scale(0.95); */
}

@media (max-width: 768px) {
    .group-stage {
        flex-direction: column;
        align-items: center;
    }

    .group {
        /* width: 100%; */
        max-width: 350px;
    }
}

.group-header {
    height: 30px;
    width: 80px;
    background-color: #ffcc00;
    display: flex;
    align-items: center;
    padding-left: 5px;
    color: darkblue;
    margin-bottom: 0.3px;
}

.group-name {
    font-weight: 700;
}